 .header {
        background-color:#9e8787;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
   .header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
   }   
   .header-info li {
    display: inline-block;
    list-style: none;
   }
