
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
input,
label {
    margin: 0.4rem 0;
    font-weight: bold;
}
.input_box{
   line-height: 1.5rem;
   padding: 0.5rem;
   min-width: 25rem;
   border-radius: 5px;

}