.container {
    padding: 1.5rem;
    margin: auto;
}

.box-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid rgb(99, 97, 97);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px #7e7676;
    max-width: 24rem;
}

.box-container .box {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    cursor: pointer;

}

.box.red {
    background-color: red;
}

.box.yellow {
    background-color: yellow;
}

.box.disable {
    pointer-events: none;
    background-color: #f2f2f2;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}