.personalinfo_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px #7e7676;
    min-width: 32rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.7rem;
}